{% extends 'base.html.twig' %}

{% block title %}Ajout d'un véhicule{% endblock %}

{% block body %}

<div class="container">
    <div class="row my-3">
        <div class="col-12">
            <h2 class="text-muted text-center">Ajouter un nouvel véhicule</h2>
        </div>
        <div class="col-6 mx-auto mt-4">

            {{ form(form, {'attr': {novalidate: 'novalidate'}}) }}

        </div>
    </div>
</div>


{% endblock %}